services:
  jwp-deployement:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    environment:
      USES_LOCAL_FILES: False
      SYNC_DB_S3: True
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    networks:
      - jwp_network
    expose:
      - "8080"
    entrypoint:
      [
        "uvicorn",
        "src.main:app",
        "--host",
        "0.0.0.0",
        "--port",
        "8080",
      ]

networks:
  jwp_network:
    name: jwp_network
    driver: bridge