services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile.backend
    env_file:
      - .env
    environment:
      VOICEVOX_HOST: voicevox
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    volumes:
      - ./backend/src/static:/backend/src/static
    develop:
      watch:
        - action: sync
          path: ./backend/src
          target: /backend/src
          ignore: 
            - __pycache__/
            - "*.pyc"
            - "*.pyo"
            - .pytest_cache/
            - .mypy_cache/
            - scripts/
    entrypoint:
      [
        "uvicorn",
        "src.main:app",
        "--reload",
        "--host",
        "0.0.0.0",
        "--port",
        "${BACKEND_PORT}",
      ]

  frontend:
    build:
      context: .
      dockerfile: docker/Dockerfile.frontend
    env_file:
      - .env
    environment:
      BACKEND_HOST: http://backend
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /frontend
          ignore: 
           - node_modules/
        - action: rebuild
          path: ./frontend/package.json
    entrypoint: ["bun", "run", "dev", "--host"]

  web:
    build:
      context: .
      dockerfile: docker/Dockerfile.web
    ports:
      - "${WEB_PORT}:${WEB_PORT}"
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./web/app
          target: /web/app
          ignore: 
            - node_modules/
            - .next/
        - action: sync
          path: ./web/components
          target: /web/components
          ignore: 
            - node_modules/
            - .next/
        - action: sync
          path: ./web/lib
          target: /web/lib
          ignore: 
            - node_modules/
            - .next/
        - action: rebuild
          path: ./web/package.json
    entrypoint: ["bun", "run", "dev"]

  voicevox:
    image: voicevox/voicevox_engine:cpu-latest
    container_name: voicevox
    ports:
      - "${VOICEVOX_PORT}:50021"